{% extends "backend_base.html" %}
 
{% block title1 %}产品优势列表{% endblock %}
{% block title2 %}产品优势列表{% endblock %}
{% block title3 %}产品优势列表{% endblock %}
{% block titleBase %}产品优势管理{% endblock %}
{% block titleBaseUrl %}advantages_list{% endblock %}
{% block content %}
    <!-- 产品优势列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>中文问题</th>
                                <th>英文版面</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                         {% for list in advantangeslist %} 
                            <tr>
                                <td>{{list.id}}</td>
                                <td>{{list.problem}}</td>
                                {% if list.problem_en %}
                                <td>是</td>
                                {% else %}
                                <td>否</td>
                                {% endif %}
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </section>
    <!-- 产品优势列表板块 结束 -->
{% endblock %}