<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>后台管理 | {% block title1 %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.0.js"></script>
    <script src="/static/js/backend.js"></script>
    <script src="/static/js/jquery.tablesorter.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/toast.js"></script>
    {% block style %}{% endblock %}
</head>
<body>
    <!-- 头部栏目 开始 -->
    <header id="header">
        <hgroup>
            <h1 class="site_title">
                <a href="/backend/home/">后台管理</a>
            </h1>
            <h2 class="section_title">{% block title2 %}{% endblock %}</h2>
            <div class="btn_view_site">
                <a href="/backend/login_out/">注销登录</a>
            </div>
        </hgroup>
    </header>
    <!-- 头部栏目 结束 -->

    <!-- 头部小栏目 开始 -->
    <section id="secondary_bar">
        <div class="user">
            <p>
                欢迎管理员 : {% if user.is_authenticated %}{{user.username}}{% endif %}&nbsp;
                <a href="/backend/admin_changePwd/" style="color:#696f6f">[更改密码]</a>
            </p>
        </div>
        <div class="breadcrumbs_container">
            <article class="breadcrumbs">
                <a href="/backend/{% block titleBaseUrl %}{% endblock %}/">
                    {% block titleBase %}{% endblock %}
                </a>
                <div class="breadcrumb_divider"></div>
                <a class="current">{% block title3 %}{% endblock %}</a>
            </article>
        </div>
    </section>
    <!-- 头部小栏目 结束 -->

    <!-- 左边栏目 开始 -->
    <aside id="sidebar" class="column">
        {% for list in premissions %} {% ifequal list '1' %}
        <h3>导航管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/navigation_list/">导航列表</a>
            </li>
        </ul>
        {% endifequal %} {% ifequal list '2' %}
        <h3>佳易得产品管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/product_list/">产品列表</a>
            </li>
            <li class="icn_new_article"><a href="/backend/product_add/">添加产品</a>
            </li>
        </ul>
        {% endifequal %} {% ifequal list '3' %}
        <h3>工程应用管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/project_list/">工程列表</a>
            </li>
            <li class="icn_photo"><a href="/backend/project_add/">添加工程</a>
            </li>
        </ul>
        {% endifequal %} {% ifequal list '4' %}
        <h3>资讯管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/info_list/">资讯列表</a>
            </li>
            <li class="icn_edit_article"><a href="/backend/info_add/">添加资讯</a>
            </li>
        </ul>
        {% endifequal %} {% ifequal list '5' %}
        <h3>招聘管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/job_list/">招聘列表</a>
            </li>
            <li class="icn_jump_back"><a href="/backend/job_publish/">发布招聘</a>
            </li>
        </ul>
        {% endifequal %} {% ifequal list '6' %}
        <h3>留言管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/message_list/">留言列表</a>
            </li>
        </ul>
        {% endifequal %} {% endfor %} {% if user.is_superuser %}
        <!--判断是否为 超级管理员-->
        <h3>账户管理</h3>
        <ul class="toggle">
            <li class="icn_add_user"><a href="/backend/admin_add/">添加管理员</a>
            </li>
            <li class="icn_view_users"><a href="/backend/admin_list/">管理员列表</a>
            </li>
        </ul>
        {% endif %}
        <footer>
            <hr />
            <p>
            <strong>Copyright &copy; 2014 深圳德厚科技有限公司</strong>
            </p>
        </footer>
    </aside>
    <!-- 左边栏目 结束 -->

    <!-- 主体板块 开始 -->
    {% block content %}{% endblock %}
    <!-- 主体板块 结束 -->

</body>
<script type="text/javascript">
$(document).ready(function(){
    $("ul.toggle>a").click(function(){
        alert("hah");

    });
});
</script>
</html>
