{% extends "backend_base.html" %}

{% block title1 %}列表{% endblock %}
{% block title2 %}列表{% endblock %}
{% block title3 %}列表{% endblock %}
{% block titleBase %}列表{% endblock %}
{% block titleBaseUrl %}{{href}}_list{% endblock %}
{% block style %}
    <style type="text/css">
    #div1 {font-size:40px;text-align:center;padding-top:100px;}
    #div2 {font-size:30px;text-align:center;padding:20px 0;}
    </style>
{% endblock %}
{% block content %}
    <!-- 文字提示 开始 -->
    <div id="div1">{{title}}</div>
    <div id="div2">
        本页将在 <u><span id="num" style="padding:0 10px;">3</span></u> 秒后跳转
    </div>
    <!-- 文字提示 结束 -->

    <!-- 倒计时跳转 开始 -->
    <script type="text/javascript">
    window.onload = function(){                                                 // loading
        var i = 3;                                                              // 倒计时剩余时间
        var timer = setInterval(function(){                                     // 设置定时器
            i--;                                                                // 时间减一秒
            document.getElementById('num').innerHTML = i;                       // 剩余时间显示

            if (i == 0) {                                                       // 时间为零时
                clearInterval(timer);                                           // 清除定时器
                var href = "{{href}}";
                if (href == "home") {
                    window.location.href = "/backend/" + href +"/";            // 跳转页面
                }         
                else {
                     window.location.href = "/backend/" + href + "_list/";     // 跳转页面
                }
               
            };
        }, 1000);                                                               // 定时器时间为1秒
    };
    </script>
    <!-- 倒计时跳转 结束 -->
{% endblock %}