<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>后台管理 | 添加新闻</title>
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/toast.js"></script>
    <!-- ueditor编辑器js与css -->
    {{ form.media }}
</head>

<body>
    <!-- 头部栏目 开始 -->
    <header id="header">
        <hgroup>
            <h1 class="site_title">
                <a href="/backend/info_list/">后台管理</a>
            </h1>
            <h2 class="section_title">添加新闻</h2>
            <div class="btn_view_site">
                <a href="#/">注销登录</a>
            </div>
        </hgroup>
    </header>
    <!-- 头部栏目 结束 -->

    <!-- 头部小栏目 开始 -->
    <section id="secondary_bar">
        <div class="user">
            <p>管理员名称</p>
        </div>
        <div class="breadcrumbs_container">
            <article class="breadcrumbs">
                <a href="/backend/info_list/">新闻管理</a>
                <div class="breadcrumb_divider"></div>
                <a class="current">添加新闻</a>
            </article>
        </div>
    </section>
    <!-- 头部小栏目 结束 -->

    <!-- 左边栏目 开始 -->
    <aside id="sidebar" class="column">
        <h3>导航管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/navigation_list/">导航列表</a>
            </li>
        </ul>
        <h3>产品管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/product_list/">产品列表</a>
            </li>
            <li class="icn_new_article"><a href="/backend/product_add/">添加产品</a>
            </li>
        </ul>
        <h3>工程管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/project_list/">工程列表</a>
            </li>
            <li class="icn_photo"><a href="/backend/project_add/">添加工程</a>
            </li>
        </ul>
        <h3>资讯管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/info_list/">资讯列表</a>
            </li>
            <li class="icn_edit_article"><a href="/backend/info_add/">添加资讯</a>
            </li>
        </ul>
        <h3>招聘管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/job_list/">招聘列表</a>
            </li>
            <li class="icn_jump_back"><a href="/backend/job_publish/">发布招聘</a>
            </li>
        </ul>
        <h3>留言管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/message_list/">留言列表</a>
            </li>
        </ul>
        <h3>账户管理</h3>
        <ul class="toggle">
            <li class="icn_add_user"><a href="/backend/admin_add/">添加管理员</a>
            </li>
            <li class="icn_view_users"><a href="/backend/admin_list/">管理员列表</a>
            </li>
        </ul>
        <footer>
            <hr />
            <p>
                <strong>Copyright &copy; 2014 深圳德厚科技有限公司</strong>
            </p>
        </footer>
    </aside>
    <!-- 左边栏目 结束 -->

    <!-- 添加资讯板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" onsubmit="">
            {% csrf_token %}
                <header>
                    <h3 class="form_title">添加资讯</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:30%;float:left;margin-bottom:20px;">
                        <label>标题</label>
                        <input type="text" name="title" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:30%; float:left; clear:both;margin-bottom:20px;">
                        <label>类型</label>
                        <select name="contentsType" style="width:92%;height:25px;" class="contentsType" id="linhc_control_contents">
                            <option value="chinese">中文</option>
                            <option value="english">English</option>
                        </select>
                    </fieldset>
                    <fieldset style="clear:both;margin-bottom:20px;">
                        <label>内容</label>
                        <div style="padding:0 10px;">{{ form }}</div>
                    </fieldset>
                </div>
                <footer>
                    <div class="submit_link">
                        <input type="submit" value="提交" class="alt_btn">
                        <input type="button" value="清空" class="clear_btn">
                    </div>
                </footer>
            </form>
        </article>
        <div class="spacer"></div>
    </section>
    <!-- 添加资讯板块 结束 -->

</body>

</html>
