{% extends "backend_base.html" %} 
{% block style %}
<!-- ueditor编辑器js与css -->
{{ form.media }} 
{{ form_en.media }} 
{% endblock %} 
{% block title1 %}发布招聘{% endblock %} 
{% block title2 %}发布招聘{% endblock %} 
{% block title3 %}发布招聘{% endblock %}
{% block titleBase %}招聘管理{% endblock %} 
{% block titleBaseUrl %}job_list{% endblock %} 
{% block content %}
<!-- 发布招聘板块 开始 -->
<section id="main" class="column">
    <div class="clear"></div>
    <article class="module width_full">
        <form method="post" name="form" action="/backend/job_publish_handle/">
            <header>
                <h3 class="tabs_involved">发布招聘</h3>
                <ul class="tabs">
                    <li><a href="#tab1">中文</a>
                    </li>
                    <li><a href="#tab2">英文</a>
                    </li>
                </ul>
            </header>

            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <fieldset style="width:30%;float:left;margin:10px;">
                        <label>招聘职位</label>
                        <input type="text" name="position" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:98%;clear:both;margin:10px;">
                        <label>内容</label>
                        <div style="padding:0 10px;">{{ form }}</div>
                    </fieldset>
                </div>
                <!-- end of #tab1 -->
                <div id="tab2" class="tab_content">
                    <fieldset style="width:30%;float:left;margin:10px;">
                        <label>招聘职位（英文版）</label>
                        <input type="text" name="position_en" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:98%;clear:both;margin:10px;">
                        <label>内容（英文版）</label>
                        <div style="padding:0 10px;">{{ form_en }}</div>
                    </fieldset>
                </div>
                <!-- end of #tab2 -->

            </div>
            <!-- 内容区结束 -->
            <footer>
                <div class="submit_link">
                    <input type="submit" value="发布" class="alt_btn">
                    <input type="button" value="清空" class="clear_btn">
                </div>
            </footer>
        </form>
    </article>
    <div class="spacer"></div>
</section>
<!-- 发布招聘板块 结束 -->
<script type="text/javascript" src="/static/js/tab_toggle.js"></script>
{% endblock %}
