{% extends "backend_base.html" %}

{% block title1 %}招聘列表{% endblock %}
{% block title2 %}招聘列表{% endblock %}
{% block title3 %}招聘列表{% endblock %}
{% block titleBase %}招聘管理{% endblock %}
{% block titleBaseUrl %}job_list{% endblock %}
{% block content %}
    <!-- 招聘列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" onsubmit="return validate_form(this)">
                <header>
                    <h3 class="form_title">招聘搜索</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:40%;clear:both;margin-bottom:20px;">
                        <input type="text" name="title" class="title" style="height:25px;">
                        <input type="button" value="搜索" class="clear_btn" style="float:right;margin:10px 9% 0 0;">
                    </fieldset>
                </div>
            </form>
        </article>
        <div class="spacer"></div>
        <!-- end of stats article -->
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>标题一</td>
                                <td>时间一</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="彻底删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>标题二</td>
                                <td>时间二</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="彻底删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>标题三</td>
                                <td>时间三</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="彻底删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of #tab1 -->
                <!-- end of content manager article -->
            </div>
            <!-- end of .tab_container -->
        </article>
        <!-- end of content manager article -->
        <!--中文分页显示 -->
        <ul class="pagination">
            <li><a href="#">上一页</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">6</a>
            </li>
            <li><a href="#">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 招聘列表板块 结束 -->
{% endblock %}