{% extends "backend_base.html" %}

{% block style %}
    <!-- ueditor编辑器js与css -->
    {{ form.media }}
{% endblock %}
{% block title1 %}发布招聘{% endblock %}
{% block title2 %}发布招聘{% endblock %}
{% block title3 %}发布招聘{% endblock %}
{% block titleBase %}招聘管理{% endblock %}
{% block titleBaseUrl %}job_list{% endblock %}
{% block content %}
    <!-- 发布招聘板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" action="/backend/job_publish_handle/">
                <header>
                    <h3 class="form_title">发布招聘</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:30%;float:left;margin-bottom:20px;">
                        <label>招聘职位</label>
                        <input type="text" name="position" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:100%;clear:both;margin-bottom:20px;">
                        <label>内容</label>
                        <div style="padding:0 10px;">{{ form }}</div>
                    </fieldset>
                </div>
                <footer>
                    <div class="submit_link">
                        <input type="submit" value="发布" class="alt_btn">
                        <input type="button" value="清空" class="clear_btn">
                    </div>
                </footer>
            </form>
        </article>
        <div class="spacer"></div>
    </section>
    <!-- 发布招聘板块 结束 -->
{% endblock %}
