{% extends "backend_base.html" %}

{% block title1 %}招聘列表{% endblock %}
{% block title2 %}招聘列表{% endblock %}
{% block title3 %}招聘列表{% endblock %}
{% block titleBase %}招聘管理{% endblock %}
{% block titleBaseUrl %}job_list{% endblock %}
{% block content %}
    <!-- 招聘列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" onsubmit="return validate_form(this)">
                <header>
                    <h3 class="form_title">招聘搜索</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:40%;clear:both;margin-bottom:20px;">
                        <input type="text" name="title" class="title" style="height:25px;">
                        <input type="button" value="搜索" class="clear_btn" style="float:right;margin:10px 9% 0 0;">
                    </fieldset>
                </div>
            </form>
        </article>
        <div class="spacer"></div>
        <!-- end of stats article -->
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>职位信息</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        {% for list in public_pages.info_list %}
                        <tbody>
                            <tr>
                                <td>{{list.position}}</td>
                                <td>{{list.datetime | date:"Y-m-d H:i:s"}}</td>
                                <td>
                                    <a href="/backend/job_edit/?id={{list.id}}">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                    <a href="javascript:void(0);" click_action="/backend/del_job/?id={{list.id}}" name="delete">
                                        <input type="image" src="/static/images/icn_trash.png" title="彻底删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                <!-- end of #tab1 -->
                <!-- end of content manager article -->
            </div>
            <!-- end of .tab_container -->
        </article>
        <!-- end of content manager article -->
        <!--中文分页显示 -->
        <ul class="pagination">
            <li>
                <a href="/backend/job_list/?page={{public_pages.prevpage}}&currentpage={{public_pages.currentpage}}">上一页</a>
            </li>
            {% for page in public_pages.page_list %} {% if page == public_pages.currentpage %}
            <li class="active">
                <a href="/backend/job_list/?page={{page}}&currentpage={{public_pages.currentpage}}">{{page}}</a>
            </li>
            {% else %}
            <li>
                <a href="/backend/job_list/?page={{page}}&currentpage={{public_pages.currentpage}}">{{page}}</a>
            </li>
            {%endif%} {% endfor %}
            <li>
                <a href="/backend/job_list/?page={{public_pages.nextpage}}&currentpage={{public_pages.currentpage}}">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 招聘列表板块 结束 -->

    <!-- 模态框（Modal）开始 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:150px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div style="border:0;padding-left:20px;">
                    <h3>
                    确认删除？
                    </h3>
                </div>
                <div class="modal-footer" style="border:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="delete">删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）结束 -->

    <!-- 删除确认框 开始 -->
    <script type="text/javascript" src="/static/js/del_info.js"></script>
    <!-- 删除确认框 结束 -->
{% endblock %}