{% extends "backend_base.html" %}

{% block title1 %}留言列表{% endblock %}
{% block title2 %}留言列表{% endblock %}
{% block title3 %}留言列表{% endblock %}
{% block titleBase %}留言管理{% endblock %}
{% block titleBaseUrl %}message_list{% endblock %}
{% block content %}
    <!-- 留言列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>用户名</th>
                                <th>留言标题</th>
                                <th>留言时间</th>
                                <th>回复状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        {% for list in info_list %}
                        <tbody>
                            <tr>
                                <td>{{list.name}}</td>
                                <td>{{list.title}}</td>
                                <td>{{list.send_time | date:"Y-m-d H:i:s"}}</td>
                                {% if list.replay_content %}
                                  <td>
                                    <a href="javascript:void(0);" style="color:black;" class="resume" id="{{list.id}}">
                                    已回复
                                    </a>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="model{{list.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="border:0;">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel" >
                                                    已回复
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                   <span class="col-sm-2 control-label">留言人</span>
                                                   <p>{{list.name}}</p><br>
                                                   <span class="col-sm-2 control-label">留言时间</span>
                                                   <p>{{list.send_time|date:"Y-m-d H:i:s"}}</p><br>
                                                   <span class="col-sm-2 control-label">留言内容</span>
                                                   <p>{{list.content}}</p>
                                                </div>
                                                <div class="modal-body">
                                                   <span class="col-sm-2 control-label">回复人</span>
                                                   <p>{{list.admin}}</p><br>
                                                   <span class="col-sm-2 control-label">回复时间</span>
                                                   <p>{{list.replay_time|date:"Y-m-d H:i:s"}}</p><br>
                                                   <span class="col-sm-2 control-label">回复内容</span>
                                                   <p>{{list.replay_content}}</p>
                                                </div>
                                                <div class="modal-footer" style="border:0;">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal -->
                                  </td>
                                  {% else %}
                                  <td>
                                    <a href="javascript:void(0);" style="color:red" class="resume" id="{{list.id}}">
                                    未回复
                                    </a>
                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="model{{list.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header" style="border:0;">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel" style="color:red">
                                                    未回复
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                   <span class="col-sm-2 control-label">留言人</span>
                                                   <p>{{list.name}}</p><br>
                                                   <span class="col-sm-2 control-label">留言时间</span>
                                                   <p>{{list.send_time|date:"Y-m-d H:i:s"}}</p><br>
                                                   <span class="col-sm-2 control-label">留言内容</span>
                                                   <p>{{list.content}}</p>
                                                </div>
                                                <div class="modal-body">
                                                   <label for="name">回复内容</label>
                                                   <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                                <div class="modal-footer" style="border:0;">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary">回复</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal -->
                                  </td>
                                {% endif %}
                                <td>
                                    <a href="javascript:void(0);" click_action="/backend/del_message/?id={{list.id}}" name="delete">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </article>
        <!--中文分页显示 -->
        <ul class="pagination">
            <li>
                <a href="/backend/message_list?page={{prevpage}}&currentpage={{currentpage}}">上一页</a>
            </li>
            {% for page in page_list %} {% if page == currentpage %}
            <li class="active">
                <a href="/backend/message_list?page={{page}}&currentpage={{currentpage}}">{{page}}</a>
            </li>
            {% else %}
            <li>
                <a href="/backend/message_list?page={{page}}&currentpage={{currentpage}}">{{page}}</a>
            </li>
            {%endif%} {% endfor %}
            <li>
                <a href="/backend/message_list?page={{nextpage}}&currentpage={{currentpage}}">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 留言列表板块 结束 -->

    <!-- 模态框（Modal）开始 -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-top:150px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div style="border:0;padding-left:20px;">
                    <h3>
                    确认删除？
                    </h3>
                </div>
                <div class="modal-footer" style="border:0;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="delete">删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）结束 -->

    <!-- 删除确认框 开始 -->
    <script type="text/javascript" src="/static/js/del_info.js"></script>
    <!-- 删除确认框 结束 -->

    <script type="text/javascript">
    $(document).ready(function() {
        $('.resume').click(function(){
            var id = $(this).attr('id');
            var model = "#model" + id;
            $(model).modal('show');
        });
    });

    </script>

{% endblock %}