{% extends "backend_base.html" %}

{% block style %}
    <!-- ueditor编辑器js与css -->
    {{ form.media }}
{% endblock %}
{% block title1 %}添加导航{% endblock %}
{% block title2 %}添加导航{% endblock %}
{% block title3 %}添加导航{% endblock %}
{% block titleBase %}导航管理{% endblock %}
{% block titleBaseUrl %}navigation_list{% endblock %}
{% block content %}
    <!-- 添加导航板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" onsubmit="return validate_form(this)">
                <header>
                    <h3 class="form_title">添加导航</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:30%;float:left;margin-bottom:20px;">
                        <label>导航标题</label>
                        <input type="text" name="title" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:30%; float:left; clear:both;margin-bottom:20px;">
                        <label>导航级别</label>
                        <select name="contentsType" style="width:92%;height:25px;" class="contentsType" id="linhc_control_contents">
                            <option>一级导航</option>
                            <option>二级导航</option>
                            <option>三级导航</option>
                        </select>
                    </fieldset>
                    <fieldset style="width:30%; clear:both; clear:both;margin-bottom:20px;">
                        <label>上级导航</label>
                        <select name="contentsType" style="width:92%;height:25px;" class="contentsType" id="linhc_control_contents">
                            <option>隔热系列</option>
                            <option>墙体系列</option>
                            <option>石材系列</option>
                            <option>地面系列</option>
                        </select>
                    </fieldset>
      
                </div>
                <footer>
                    <div class="submit_link">
                        <input type="submit" value="添加" class="alt_btn" />
                    </div>
                </footer>
            </form>
        </article>
        <div class="spacer"></div>
    </section>
    <!-- 添加导航板块 结束 -->
{% endblock %}