{% extends "backend_base.html" %}

{% block title1 %}导航列表{% endblock %}
{% block title2 %}导航列表{% endblock %}
{% block title3 %}导航列表{% endblock %}
{% block titleBase %}导航管理{% endblock %}
{% block titleBaseUrl %}navigation_list{% endblock %}
{% block content %}
    <!-- 导航列表板块 开始 -->
    <section id="main" class="column">
        <!-- end of stats article -->
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>导航级别</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        {% for list in navlist %}
                        <tbody>
                            <tr style="background:#d0d0d0;">
                                <td>{{list.name}}</td>
                                <td>一级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="background:#ececec;">
                                <td>隔热系列</td>
                                <td>二级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>石材系列</td>
                                <td>三级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                        {% endfor %}                      
                    </table>
                </div>
                <!-- end of #tab1 -->
                <!-- end of content manager article -->
            </div>
            <!-- end of .tab_container -->
        </article>
        <!-- end of content manager article -->
        <!--中文分页显示 -->
        <ul class="pagination">
            <li><a href="#">上一页</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">6</a>
            </li>
            <li><a href="#">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 导航列表板块 结束 -->
{% endblock %}