{% extends "backend_base.html" %}

{% block title1 %}修改导航{% endblock %}
{% block title2 %}修改导航{% endblock %}
{% block title3 %}修改导航{% endblock %}
{% block titleBase %}导航管理{% endblock %}
{% block titleBaseUrl %}navigation_list{% endblock %}
{% block content %}
    <!-- 添加导航板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form">
                <header>
                    <h3 class="form_title">修改导航</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>导航名称</label>
                        <input type="text" name="name" class="title" style="height:25px;" value="{{nav.name}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>导航名称（英文）</label>
                        <input type="text" name="name_en" class="title" style="height:25px;" value="{{nav.name_en}}">
                    </fieldset>  
                </div>
                {% if nav.level %}
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面标题</label>
                        <input type="text" name="title" class="title" style="height:25px;" value="{{nav.title}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面标题（英文）</label>
                        <input type="text" name="title_en" class="title" style="height:25px;" value="{{nav.title_en}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面关键字</label>
                        <input type="text" name="keywords" class="title" style="height:25px;" value="{{nav.keywords}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面关键字（英文）</label>
                        <input type="text" name="keywords_en" class="title" style="height:25px;" value="{{nav.keywords_en}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面描述</label>
                        <input type="text" name="description" class="title" style="height:25px;" value="{{nav.description}}">
                    </fieldset>  
                </div>
                <div class="module_content">
                    <fieldset style="width:30%;clear:both; margin-bottom:50px;margin-top:50px">
                        <label>页面描述（英文）</label>
                        <input type="text" name="description_en" class="title" style="height:25px;" value="{{nav.description_en}}">
                    </fieldset>  
                </div>
                {% endif %}
                <footer>
                    <div class="submit_link">
                        <input type="hidden" value="{{nav.id}}" name="id" />
                        <input type="submit" value="修改" class="alt_btn" />
                    </div>
                </footer>
            </form>
        </article>
        <div class="spacer"></div>
    </section>
    <!-- 添加导航板块 结束 -->

    <!-- 标题不能为空 开始 -->
    <script type="text/javascript">
    $(function(){
        $('.alt_btn').click(function(){
            if ($.trim($(".title").val()).length<=0) {
                alert('内容不能为空');
                return false;
            }
            else {
                form.action = "/backend/navigation_edit_handle/";
            }
        });
    });
    </script>
    <!-- 标题不能为空 结束 -->
{% endblock %}