<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <title>后台管理 | 导航列表</title>
    <link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="screen" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/toast.js"></script>
</head>

<body>
    <!-- header bar -->
    <header id="header">
        <hgroup>
            <h1 class="site_title">
                <a href="/backend/news_list/">后台管理</a>
            </h1>
            <h2 class="section_title">导航列表</h2>
            <div class="btn_view_site">
                <a href="#/">注销登录</a>
            </div>
        </hgroup>
    </header>
    <!-- end of header bar -->

    <!-- secondary bar -->
    <section id="secondary_bar">
        <div class="user">
            <p>管理员名称</p>
        </div>
        <div class="breadcrumbs_container">
            <article class="breadcrumbs">
                <a href="/backend/navgation_list/">导航管理</a>
                <div class="breadcrumb_divider"></div>
                <a class="current">导航列表</a>
            </article>
        </div>
    </section>
    <!-- end of secondary bar -->

    <!-- sidebar -->
    <aside id="sidebar" class="column">
        <h3>新闻管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/news_list/">新闻列表</a>
            </li>
            <li class="icn_edit_article"><a href="/backend/news_add/">添加新闻</a>
            </li>
            <li class="icn_trash"><a href="/backend/news_trash/">回收站</a>
            </li>
        </ul>
        <h3>导航管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/navigation_list/">导航列表</a>
            </li>
        </ul>
        <h3>留言管理</h3>
        <ul class="toggle">
            <li class="icn_categories"><a href="/backend/message_list/">留言列表</a>
            </li>
        </ul>
        <h3>账户管理</h3>
        <ul class="toggle">
            <li class="icn_add_user"><a href="/backend/admin_add/">添加管理员</a>
            </li>
            <li class="icn_view_users"><a href="/backend/admin_list/">管理员列表</a>
            </li>
        </ul>
        <h3>招聘管理</h3>
        <ul class="toggle">
            <li class="icn_photo"><a href="/backend/job_list/">招聘列表</a>
            </li>
            <li class="icn_jump_back"><a href="/backend/job_publish/">发布招聘</a>
            </li>
        </ul>
        <footer>
            <hr />
            <p>
                <strong>Copyright &copy; 2014 深圳德厚科技有限公司</strong>
            </p>
        </footer>
    </aside>
    <!-- end of sidebar -->

    <!-- add new article -->
    <section id="main" class="column">
        <!-- end of stats article -->
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>导航级别</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background:#d0d0d0;">
                                <td>产品中心</td>
                                <td>一级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="background:#ececec;">
                                <td>隔热系列</td>
                                <td>二级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>凯哥系列</td>
                                <td>三级片</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="修改" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="background:#d0d0d0;">
                                <td>精选案例</td>
                                <td>一级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="回复" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr style="background:#ececec;">
                                <td>隔热系列</td>
                                <td>二级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="回复" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody><tbody>
                            <tr style="background:#ececec;">
                                <td>隔热系列</td>
                                <td>二级</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="回复" />
                                    </a>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_trash.png" title="删除" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- end of #tab1 -->
                <!-- end of content manager article -->
            </div>
            <!-- end of .tab_container -->
        </article>
        <!-- end of content manager article -->
        <!--中文分页显示 -->
        <ul class="pagination">
            <li><a href="#">上一页</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">6</a>
            </li>
            <li><a href="#">下一页</a>
            </li>
        </ul>
        <!-- 中文分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- end of add new article -->

</body>

</html>
