{% extends "backend_base.html" %}

{% block title1 %}产品列表{% endblock %}
{% block title2 %}产品列表{% endblock %}
{% block title3 %}产品列表{% endblock %}
{% block titleBase %}产品管理{% endblock %}
{% block titleBaseUrl %}product_list{% endblock %}
{% block content %}
    <!-- 产品列表板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full">
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>分类</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        {% for list in lists %}
                        <tbody>
                            <tr>
                                <td>{{list.title}}</td>
                                <td>{{list.remark}}</td>
                                <td>{{list.datetime | date:"Y-m-d H:i:s"}}</td>
                                <td>
                                    <a href="#">
                                        <input type="image" src="/static/images/icn_edit.png" title="编辑" />
                                    </a>
                                    <a href="/backend/del_info/?type=product&id={{list.id}}">
                                        <input type="image" src="/static/images/icn_trash.png" title="回收" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </article>
        <!--分页显示 -->
        <ul class="pagination">
            <li><a href="#">上一页</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">6</a>
            </li>
            <li><a href="#">下一页</a>
            </li>
        </ul>
        <!-- 分页显示结束 -->
        <div class="spacer"></div>
    </section>
    <!-- 产品列表板块 结束 -->
{% endblock %}