{% extends "backend_base.html" %}

{% block style %}
    <!-- ueditor编辑器js与css -->
    {{ form.media }}
{% endblock %}
{% block title1 %}添加工程{% endblock %}
{% block title2 %}添加工程{% endblock %}
{% block title3 %}添加工程{% endblock %}
{% block titleBase %}工程管理{% endblock %}
{% block titleBaseUrl %}project_list{% endblock %}
{% block content %}
    <!-- 添加工程板块 开始 -->
    <section id="main" class="column">
        <div class="clear"></div>
        <article class="module width_full add_item_block">
            <form method="post" name="form" onsubmit="">
            {% csrf_token %}
                <header>
                    <h3 class="form_title">添加工程</h3>
                </header>
                <div class="module_content">
                    <fieldset style="width:30%;float:left;margin-bottom:20px;">
                        <label>标题</label>
                        <input type="text" name="title" class="title" style="height:25px;">
                    </fieldset>
                    <fieldset style="width:30%; float:left; clear:both;margin-bottom:20px;">
                        <label>类型</label>
                        <select name="contentsType" style="width:92%;height:25px;" class="contentsType" id="linhc_control_contents">
                            <option value="chinese">中文</option>
                            <option value="english">English</option>
                        </select>
                    </fieldset>
                    <fieldset style="clear:both;margin-bottom:20px;">
                        <label>内容</label>
                        <div style="padding:0 10px;">{{ form }}</div>
                    </fieldset>
                </div>
                <footer>
                    <div class="submit_link">
                        <input type="submit" value="提交" class="alt_btn">
                        <input type="button" value="清空" class="clear_btn">
                    </div>
                </footer>
            </form>
        </article>
        <div class="spacer"></div>
    </section>
    <!-- 添加工程板块 结束 -->
{% endblock %}